* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.container {
    width: 80%;
    height: max-content;
    background-color: bisque;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: x-large;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.description {
    font-weight: bold;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 20px;
}

.buttons {
    background-color: burlywood;
    text-align: center;
}

button {
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

button:hover {
    cursor: pointer;
}

#textArea {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 5em;
    font-weight: bold;
    color: #666;
    text-align: center;
}

span {
    transition: all 300ms 0s ease;
}

.color {
    font-size: 0.5em;
    color: red;
}

.buruburu {
    display: inline-block;
    animation: hurueru .1s infinite;
}

@keyframes hurueru {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    25% {
        transform: translate(2px, 2px) rotateZ(1deg)
    }
    50% {
        transform: translate(0px, 2px) rotateZ(0deg)
    }
    75% {
        transform: translate(2px, 0px) rotateZ(-1deg)
    }
    100% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
}
